[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=tab
indent_size=2

[{.babelrc,.stylelintrc,jest.config,.eslintrc,.prettierrc,*.json,*.jsb3,*.jsb2,*.bowerrc}]
indent_style=tab
indent_size=2

[*.js]
indent_style=tab
tab_width=2

[{jshint.json,*.jshintrc}]
indent_style=tab
indent_size=2

[{*.jscs.json,*.jscsrc}]
indent_style=tab
indent_size=2

[{tsconfig.app.json,tsconfig.e2e.json,tsconfig.json,tsconfig.spec.json}]
indent_style=tab
indent_size=2

[*.js.map]
indent_style=tab
indent_size=2

[{.analysis_options,*.yml,*.yaml}]
indent_style=tab
indent_size=2

